<header>
    <div class="logo-cont">
        <img src="../../../../assets/imgs/logo.png" alt="Logo Rxjs" class="logo">
    </div>
    <nav>
       <div class="nav-button" (click)="toggleMenu()">Show Menu</div>
       <div class="nav-menu" *ngIf="isMenuOpen">
        <a routerLink="/lesson-1" routerLinkActive="activated-link" class="link">Intro</a>
        <a routerLink="/lesson-2" routerLinkActive="activated-link" class="link">Interval & Timer</a>
        <a routerLink="/lesson-3" routerLinkActive="activated-link" class="link">FromEvent</a>
        <a routerLink="/lesson-4" routerLinkActive="activated-link" class="link">Map & Filter</a>
        <a routerLink="/lesson-5" routerLinkActive="activated-link" class="link">Tap</a>
        <a routerLink="/lesson-6" routerLinkActive="activated-link" class="link">Share</a>
        <a routerLink="/lesson-7" routerLinkActive="activated-link" class="link">Concat</a>
        <a routerLink="/lesson-8" routerLinkActive="activated-link" class="link">Ciclos Obs</a>
        <a routerLink="/lesson-9" routerLinkActive="activated-link" class="link">BufferTime</a>
        <a routerLink="/lesson-10" routerLinkActive="activated-link" class="link">SwitchMap</a>
        <a routerLink="/lesson-11" routerLinkActive="activated-link" class="link">ForkJoin</a>
        <a routerLink="/lesson-12" routerLinkActive="activated-link" class="link">concatMap</a>
        <a routerLink="/lesson-13" routerLinkActive="activated-link" class="link">MergeMap/FlatMap</a>
        <a routerLink="/lesson-14" routerLinkActive="activated-link" class="link">Multiple Obs</a>
        <a routerLink="/lesson-15" routerLinkActive="activated-link" class="link">Scan</a>
        <a routerLink="/lesson-16" routerLinkActive="activated-link" class="link">Subject</a>
        <a routerLink="/lesson-17" routerLinkActive="activated-link" class="link">Muticast-subject</a>
        <a routerLink="/lesson-18" routerLinkActive="activated-link" class="link">ReplaySubject</a>
        <a routerLink="/lesson-19" routerLinkActive="activated-link" class="link">BehaviourSubject</a>
        <a routerLink="/lesson-20" routerLinkActive="activated-link" class="link">DebounceTime</a>
        <a routerLink="/lesson-21" routerLinkActive="activated-link" class="link">Create vs Generate</a>
       </div>
    </nav>
</header>
